<div class="profile">
    <section id="wrapper">
        <header id="header">
            {% if site.aboutPage %}
            <a href="{{ '/' | relative_url }}about">
                <img id="avatar" class="2x" src="{{ '/' | relative_url }}assets/images/{{ site.avatar }}"/>
            </a>
            {% else %}
            <img id="avatar" class="2x" src="{{ '/' | relative_url }}assets/images/{{ site.avatar }}"/>
            {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>

            <div class="social">
                <a href="https://twitter.com/bxnkole" target="_blank"><i id="twitter" class="icon-twitter"></i></a>
                <a href="https://github.com/bxnkole" target="_blank"><i id="github" class="icon-github"></i></a>
                <a href="https://stackoverflow.com/users/4091838/bxnkole" target="_blank"><i id="stack" class="icon-stackexchange"></i></a>
                <a href="https://linkedin.com/in/bankolesalako" target="_blank"><i id="linkedin" class="icon-linkedin"></i></a>
                <a href="mailto:bhsalako@gmail.com" target="_blank"`><i id="mail" class="icon-envelope"></i></a>
            </div>
        </header>
    </section>
</div>